.custom-color {
    color: #5E2129;
}

html, body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

#nav {
      list-style-type: none;
      margin-top: -45%;
      width: 60%;
      overflow: hidden;
      position: absolute;
}

li {
      float: center;
      font-family: 'Domine', serif;
      font-weight: 400;
      font-size: 15px;
      display:inline-block;
}

li a {
      display: block;
      color: #fff;
      text-align: center;
      padding: 30px 30px;
      text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

li a:active {
    text-decoration: underline;
}

#book-club-image {
    width: 100%;
}


h1 {
    padding-left: 40%;
    margin-top: -35%;
    font-size: 200px;
    font-family: 'Domine', serif;
    font-weight: 700;
    color: #fff;
}

h2 {
    padding-left: 40%;
    margin-top: -8%;
    font-size: 30px;
    font-family: 'Domine', serif;
    font-weight: 700;
    color: #fff;
}

#bpd-description{
    color: #fff;
    font-family: 'Domine', serif;
    font-weight: 400;
    margin-top: 5%;
    padding-left: 33%;
    width: 700px;
    text-align: center;
}

.buttons{

}

.button {
    text-align: center;
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid #ffffff !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
	font-family: 'Domine', serif;
    font-weight: 700;
    margin-top: 3%;
    margin-left: 40px;
    padding: 20px 50px 20px 50px;
}

.button:hover {
	color: #ffffff !important;
	background: #5E2129;
	border-color: #5E2129; !important;
	transition: all 0.4s ease 0s;
}

#register-button{
    background-color: #ffffff;
    color: #5E2129;
}


#sign-in-button{
    color: #ffffff;
}

@media only screen and (min-width: 960px) {
    #nav {
      margin-left: 30%;
    }

    li a {
      padding: 30px 50px;
    }
}

@media only screen and (min-width: 1140px) {
  #nav {
      margin-left: 30%;
    }
}

@media only screen and (min-width: 1350px) {
  #nav {
      margin-left: 23%;
    }
}